<div id="invitation-thank-you">
  <p id="invitation-thank-you">Thank you, we'll be in touch soon. Meanwhile, spread the word!</p>
  <div id="invitation-social-media-buttons">
    <div id="tweet" style="display:inline-block;">
      <a class="twitter-share-button" data-count="horizontal" data-text="I joined the revolution!" data-url="https://www.politibuy.org/" data-via="politibuy" data-related="lessig" href="https://twitter.com/share"></a>
    </div>
    <span class="fb-like-span" style="display:inline-block;">
      <div class="fb-like" data-href="https://www.politibuy.org/" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90"></div>
    </span>
  </div>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => "request-invite-form"}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.email_field :email, :placeholder => "user@example.com", :id => "invite-email-field"%>
  <%= f.submit "Join Beta Launch", :id => "request-invite-button" %>
<% end %>


<%
=begin%>

<div class="register-box-outer">

  <h2 class="register-header">Sign up <%= link_to "(sign in)", new_session_path(resource_name), :class => "register-alt-link" %></h2>
  
  <div class="register-form-wrapper">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up", :class => "devise-register" %></div>
    <% end %>
  </div>
</div>

<%
=end
%>