<div id="invitation-thank-you">
  <p id="invitation-thank-you">Thank you! We'll be in touch shortly.</p>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => "request-invite-form"}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :opt_in, :value => true %>
  <%= f.email_field :email, :placeholder => "user@example.com", :id => "invite-email-field"%>
  <%= f.submit "Get Updates", :id => "request-invite-button" %>
<% end %>


<%
=begin%>

<div class="register-box-outer">

  <h2 class="register-header">Sign up <%= link_to "(sign in)", new_session_path(resource_name), :class => "register-alt-link" %></h2>
  
  <div class="register-form-wrapper">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up", :class => "devise-register" %></div>
    <% end %>
  </div>
</div>

<%
=end
%>