<div id="majority-left-wrapper">
  <% if @pledge.errors.any? %>
    <div class="account-devise-form-errors">
      <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>
      <ul>
      <% @pledge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table id="new-pledge">
    <tr class="new-pledge-header green-gradient">
      <th colspan="2" class="new-pledge">Submit your pledge</th>
    </tr>
    <!-- <tr class="new-pledge-note">
      <td colspan="2" class="new-pledge-note">Note: You will <b>NOT</b> be charged unless the campaign is successful.</td>
    </tr> -->
    <tr class="new-pledge-vertical-spacer"><td colspan="2" class="new-pledge-vertical-spacer"></td></tr>
    <%= form_for([@campaign, @pledge], :html => {:id =>"new-pledge-form", :class => "payment-form"}) do |f| %>
    <%= f.hidden_field :campaign_id, :value => @campaign.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :stripe_card_token, :class => "hidden-token-field" %>
    <tr class="new-pledge">
      <td class="new-pledge-label">Amount</td>
      <td class="new-pledge-input">$ <%= f.text_field :amount, :id => "new-pledge-amount", :class => "new-pledge-input", :placeholder => "0.00" %></td>
    </tr>
    
    <tr class="new-pledge-payment-intro">
      <td colspan="2" class="new-pledge-payment-intro">Use of Money</td>
    </tr>
    <tr class="new-pledge-vertical-spacer"><td colspan="2" class="new-pledge-vertical-spacer"></td></tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">How would you like us to use your pledge?</td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        <%= radio_button_tag :legislator_today, nil, true, :class => "pledge-use-option" %> Make a contribution to a legislator <b>immediately</b>, tagged for this issue.
      </td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        <%= radio_button_tag :non_profit, nil, false, :class => "pledge-use-option" %> Make a donation to a non-profit <b>only if</b> this campaign's objective is met.
      </td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        <%= radio_button_tag :non_profit, nil, false, :class => "pledge-use-option" %> Give to a Super PAC supporting legislators responsible <b>only if</b> the objective is met.
      </td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        <span class="disclaimer-highlight">Note:</span> For conditional pledges, your credit card information will be stored securely and only charged if the campaign is successful.
      </td>
    </tr>
    
    <tr class="new-pledge-payment-intro">
      <td colspan="2" class="new-pledge-payment-intro">Payment</td>
    </tr>
    <tr class="new-pledge-vertical-spacer"><td colspan="2" class="new-pledge-vertical-spacer"></td></tr>
    
    <%= fields_for current_user do |uf| %>
    <tr class="new-pledge">
      <td class="new-pledge-label">First Name</td>
      <td class="new-pledge-payment-input"><%= uf.text_field :first_name, :class => "new-pledge-input req-user-info" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label">Last Name</td>
      <td class="new-pledge-payment-input"><%= uf.text_field :last_name, :class => "new-pledge-input req-user-info" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label">Address</td>
      <td class="new-pledge-payment-input"><%= uf.text_field :address_line_one, :class => "new-pledge-input req-user-info" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label"></td>
      <td class="new-pledge-payment-input"><%= uf.text_field :address_line_two, :class => "new-pledge-input" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label">Zip Code</td>
      <td class="new-pledge-payment-input">
        <%= uf.text_field :zip_code, :class => "new-pledge-input req-user-info pledge-zip", :maxlength => 5 %>
        <%= image_tag "ajax-loader.gif", :class => "account-page-loader" %>
        <span class="account-zip-city-state"></span>
      </td>
    </tr>
    <% end %>
    
    <% if @customer %>
    <tr class="pledge-existing-customer">
      <td colspan="2" class="pledge-existing-customer">
        Using card that ends with <%= @customer.active_card.last4 %>. To update payment information, 
        please visit your <%= link_to "account page", edit_user_registration_path, :class => "edit-account-link" %>.
      </td>
    </tr>
    <% else %>
    <tr class="new-pledge">
      <td class="new-pledge-label">Credit Card</td>
      <td class="new-pledge-payment-input"><%= text_field_tag :card_number, nil, name: nil, :class => "new-pledge-input" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label">Expiration</td>
      <td class="new-pledge-payment-input">
      <%= text_field_tag :card_month, nil, name: nil, :class => "new-pledge-input", :placeholder => "01", :maxlength => 2 %> / 
      <%= text_field_tag :card_year, nil, name: nil, :class => "new-pledge-input", :placeholder => "2014", :maxlength => 4 %>
      <span id="cvc-label">CVC</span>
      <%= text_field_tag :card_code, nil, name: nil, :class => "new-pledge-input", :placeholder => "1234", :maxlength => 4 %>
      </td>
    </tr>
    <% end %>
    <tr class="new-pledge-payment-intro">
      <td colspan="2" class="new-pledge-payment-intro">Conditions</td>
    </tr>
    <tr class="new-pledge-vertical-spacer"><td colspan="2" class="new-pledge-vertical-spacer"></td></tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer"><%= check_box_tag :understanding, nil, false %> I confirm that the following statements are true and accurate:</td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        I am not a foreign national who lacks permanent residence in the United States.
      </td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        I am not a Federal government contractor.
      </td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        This contribution is made from my own funds, and not those of another.
      </td>
    </tr>
    <!-- <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        This contribution is made on a credit or debit card of the donor listed above for which the donor has legal obligation to pay, and is not made on the card of another.
      </td>
    </tr> -->
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        I am at least eighteen years old.
      </td>
    </tr>

    
    <tr class="new-pledge-payment-intro">
      <td colspan="2" class="new-pledge-payment-intro">Disclaimer</td>
    </tr>
    <tr class="new-pledge-vertical-spacer"><td colspan="2" class="new-pledge-vertical-spacer"></td></tr>
    <!-- <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">You <span class="disclaimer-highlight">will not</span> be billed unless the campaign objective is met.</td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">You <span class="disclaimer-highlight">will</span> be able to change or cancel this pledge at any time.</td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        By submitting this form, you give Politibuy.org the right to charge you the amount 
        specified above upon successful completion of this campaign.
      </td>
    </tr> -->
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        By submitting this form, you give GetItPassed.org the right to charge you the amount 
        specified above.
      </td>
    </tr>
    <tr class="new-pledge-submit">
      <td id="new-pledge-cancel" class="new-pledge-actions"></td>
      <td id="new-pledge-submit" class="new-pledge-actions"><%= link_to "Cancel", campaign_path(@campaign), :class => "form-cancel-button"%><%= f.submit "Submit Pledge", :id => "pledge-submit-button", :class => "green-gradient"%></td>
    </tr>
    <% end %>
  </table>
</div>

<div id="minority-right-wrapper">
  <%= render "sidebar", :campaigns => @campaigns, :campaign => @campaign %>
</div>

<script>
var requirePaymentFields = true;
</script>