<div id="majority-left-wrapper">
  <% if @pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% @pledge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table id="new-pledge">
    <tr class="new-pledge-header green-gradient">
      <th colspan="2" class="new-pledge">Submit your pledge</th>
    </tr>
    <tr class="new-pledge-note">
      <td colspan="2" class="new-pledge-note">Note: You will <b>NOT</b> be charged unless the campaign is successful.</td>
    </tr>
    <tr class="new-pledge-vertical-spacer"><td colspan="2" class="new-pledge-vertical-spacer"></td></tr>
    <%= form_for([@campaign, @pledge], :html => {:id =>"new-pledge-form", :class => "payment-form"}) do |f| %>
    <%= f.hidden_field :campaign_id, :value => @campaign.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :stripe_card_token, :class => "hidden-token-field" %>
    <tr class="new-pledge">
      <td class="new-pledge-label">Amount</td>
      <td class="new-pledge-input">$ <%= f.text_field :amount, :id => "new-pledge-amount", :class => "new-pledge-input", :placeholder => "0.00" %></td>
    </tr>
    <tr class="new-pledge-payment-intro">
      <td colspan="2" class="new-pledge-payment-intro">Payment</td>
    </tr>
    <tr class="new-pledge-vertical-spacer"><td colspan="2" class="new-pledge-vertical-spacer"></td></tr>
    
    <%= fields_for current_user do |uf| %>
    <tr class="new-pledge">
      <td class="new-pledge-label">First Name</td>
      <td class="new-pledge-payment-input"><%= uf.text_field :first_name, :class => "new-pledge-input req-user-info" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label">Last Name</td>
      <td class="new-pledge-payment-input"><%= uf.text_field :last_name, :class => "new-pledge-input req-user-info" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label">Address</td>
      <td class="new-pledge-payment-input"><%= uf.text_field :address_line_one, :class => "new-pledge-input req-user-info" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label"></td>
      <td class="new-pledge-payment-input"><%= uf.text_field :address_line_two, :class => "new-pledge-input" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label">Zip Code</td>
      <td class="new-pledge-payment-input"><%= uf.text_field :zip_code, :class => "new-pledge-input req-user-info pledge-zip", :maxlength => 5 %></td>
    </tr>
    <% end %>
    
    <% if @customer %>
    <tr class="pledge-existing-customer">
      <td colspan="2" class="pledge-existing-customer">
        Using card that ends with <%= @customer.active_card.last4 %>. To update payment information, 
        please visit your <%= link_to "account page", edit_user_registration_path, :class => "edit-account-link" %>.
      </td>
    </tr>
    <% else %>
    <tr class="new-pledge">
      <td class="new-pledge-label">Credit Card</td>
      <td class="new-pledge-payment-input"><%= text_field_tag :card_number, nil, name: nil, :class => "new-pledge-input" %></td>
    </tr>
    <tr class="new-pledge">
      <td class="new-pledge-label">Expiration</td>
      <td class="new-pledge-payment-input">
      <%= text_field_tag :card_month, nil, name: nil, :class => "new-pledge-input", :placeholder => "01", :maxlength => 2 %> / 
      <%= text_field_tag :card_year, nil, name: nil, :class => "new-pledge-input", :placeholder => "2014", :maxlength => 4 %>
      <span id="cvc-label">CVC</span>
      <%= text_field_tag :card_code, nil, name: nil, :class => "new-pledge-input", :placeholder => "1234", :maxlength => 4 %>
      </td>
    </tr>
    <% end %>
    <tr class="new-pledge-payment-intro">
      <td colspan="2" class="new-pledge-payment-intro">Disclaimer</td>
    </tr>
    <tr class="new-pledge-vertical-spacer"><td colspan="2" class="new-pledge-vertical-spacer"></td></tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">You <span class="disclaimer-highlight">will not</span> be billed unless the campaign objective is met.</td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">You <span class="disclaimer-highlight">will</span> be able to change or cancel this pledge at any time.</td>
    </tr>
    <tr class="new-pledge-disclaimer">
      <td colspan="2" class="new-pledge-disclaimer">
        By submitting this form, you give Politibuy.org the right to charge you the amount 
        specified above upon successful completion of this campaign.
      </td>
    </tr>
    <tr class="new-pledge-submit">
      <td id="new-pledge-cancel" class="new-pledge-actions"></td>
      <td id="new-pledge-submit" class="new-pledge-actions"><%= link_to "Cancel", campaign_path(@campaign), :class => "form-cancel-button"%><%= f.submit "Submit Pledge", :id => "pledge-submit-button", :class => "green-gradient"%></td>
    </tr>
    <% end %>
  </table>
</div>

<div id="minority-right-wrapper">
  <div id="new-pledge-sidebar">
    <h3 class="campaign-stats">Campaign Info</h3>
    <p class="campaign-stats"><span class="stat-title">Number of Pledges:</span> 34</p>
    <p class="campaign-stats"><span class="stat-title">Total Pledged:</span> $344.00</p>
    <p class="campaign-stats"><span class="stat-title">Deadline:</span> Aug 2, 2013</p>
    <h3 class="campaign-stats">Other Campaigns</h3>
    <ul class="campaign-show-other-campaigns">
      <li class="campaign-show-other-campaign">
        <%= link_to "Repeal Amendment 15 in South Dakota", "", :class => "other-campaigns-link"%>
      </li>
      <li class="campaign-show-other-campaign">
        <%= link_to "Veto new gun ownership law in Arkansas ", "", :class => "other-campaigns-link"%>
      </li>
      <li class="campaign-show-other-campaign">
        <%= link_to "Implement fines for beach loitering in Hawaii", "", :class => "other-campaigns-link"%>
      </li>
    </ul>
  </div>
</div>

<script>
var requirePaymentFields = true;
</script>