<%= form_for(@policy_maker) do |f| %>
  <% if @policy_maker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@policy_maker.errors.count, "error") %> prohibited this policy_maker from being saved:</h2>

      <ul>
      <% @policy_maker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :salutation %><br />
    <%= f.text_field :salutation %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :party_affiliation %><br />
    <%= f.select :party, party_affiliations %>
  </div>
  <div class="field">
    <%= f.label :home_state %><br />
    <%= f.select :home_state, us_states %>
  </div>
  
  <% if @policy_maker.profile_image? %>
  <p class="current-image-label">Current Profile Picture</p>
  <%= image_tag @policy_maker.profile_image.url %>
  <div class="field policy-maker-image-upload">
    <%= f.label :profile_image, "Change Profile Picture" %><br />
    <%= f.file_field :profile_image %>
  </div>
  <% else %>
  <div class="field policy-maker-image-upload">
    <%= f.label :profile_image, "Profile Picture" %><br />
    <%= f.file_field :profile_image %>
  </div>
  <% end %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
