<div id="majority-left-wrapper">
<h1 id="campaigns-index">Users (<%= @users.count %>)</h1>
<p>
  Send Bulk Invitations:
  <%= link_to "10 &#183;".html_safe, bulk_invite_path(:quantity => '10'), data: { confirm: 'Are you sure? This will email a bunch of people.' } %>
  <%= link_to "50 &#183;".html_safe, bulk_invite_path(:quantity => '50'), data: { confirm: 'Are you sure? This will email a bunch of people.' } %>
  <%= link_to "100 &#183;".html_safe, bulk_invite_path(:quantity => '100'), data: { confirm: 'Are you sure? This will email a bunch of people.' } %>
  <%= link_to "500 &#183;".html_safe, bulk_invite_path(:quantity => '500'), data: { confirm: 'Are you sure? This will email a bunch of people.' } %>
  <%= link_to "1000", bulk_invite_path(:quantity => '1000'), data: { confirm: 'Are you sure? This will email a bunch of people.' } %>
</p>
<table class="admin-table">
  <tr class="admin-table">
    <th class="admin-table">Email</th>
    <th class="admin-actions">Actions</th>
  </tr>
  <% @users.each_with_index do |user, i| %>
  <tr class="admin-table <%= i.odd? ? "odd-row": ""%>">
    <td class="admin-table"><%= user.email %></td>
    <td class="admin-actions">
      <%= (user.confirmation_token.nil? ? (link_to "send invitation", invite_user_path(user)) : (link_to "resend", invite_user_path(user))) unless user.confirmed_at %>
      <% if not user.confirmed_at %>
        |
      <% end %> 
      <%= link_to "show", user %> 
      </td>
  </tr>
  <% end %>
</table>
</div>
<div id="minority-right-wrapper">
  <%= render "tools" %>
</div>