<div id="majority-left-wrapper">
<div class="register-box-outer">
  <h2 class="register-header">Password Reset Form</h2>

  <div class="register-form-wrapper">
    
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="devise-form-errors">
      <%= devise_error_messages! %>
      </div>
      <%= f.hidden_field :reset_password_token %>
      
      
      <div><%= f.label :password, "New password" %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation %></div>
      
      <div><%= f.submit "Change Password", :id => "sign-in-button" %></div>
    <% end %>
    
  </div>
</div>
</div>
<div id="minority-right-wrapper">
  <%= render :partial => 'layouts/right_sidebar' %>
</div>