<div class="new-recipient-form-wrapper <%= index == @campaign.key_policy_makers.count ? "last-recipient-form" : "" %>">
  
<%= form_for([@campaign,kpm], :html => {:class => "new-recipient-form"}) do |f| %>

  <%= f.hidden_field :campaign_id, :value => @campaign.id %>
  
  <% if kpm.policy_maker.nil? %>
  <div class="field">
    <%= f.label :policy_maker_id, "New Key Policy Maker", :class => "new-recipient-select-label" %>
    <% if @policy_makers_selections.count > 0 %>
    <%= f.select :policy_maker_id, @policy_makers_selections %>
    <% else %>
    <span><i>(No policy makers found)</i></span>
    <% end %>
  </div>  
  <% else %>
    <%= f.hidden_field :policy_maker_id, :value => kpm.policy_maker.id %>
    <p class="key-policy-maker-name"><%= full_name(kpm.policy_maker.first_name, kpm.policy_maker.last_name) %> 
      (<%= link_to 'Remove', [@campaign,kpm], method: :delete, data: { confirm: 'Are you sure?' } %> | 
      <%= link_to 'Edit Policy Maker', edit_policy_maker_path(kpm.policy_maker, :breadcrumb_campaign_id => @campaign.id) %>)
    </p>
  <% end %>
  
  <div class="field new-recipient-reason">
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
  </div>
  
  <div class="actions">
    <%= f.submit "Add/Edit Key Policy Maker", :class => "create-recipient-submit" %>
  </div>
  
<% end %>

</div>