<div class="vehicle-form-wrapper">

  <%= form_for(@new_vehicle, :html => {:class => "policy-maker"}) do |f| %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :info_link %><br />
      <%= f.text_field :info_link %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="field policy-maker-image-upload">
      <%= f.label :logo_image %><br />
      <%= f.file_field :logo_image %>
    </div>
  
    <div class="actions">
      <%= f.submit "Create Policy Maker", :class => "create-policy-maker-button" %>
    </div>
  
  <% end %>
  
</div>