<div id="majority-left-wrapper">
  <h1 id="campaigns-index">Edit campaign</h1>
  <%= link_to "Show Campaign", @campaign, :id => "edit-campaign-top-view-link"%>
  <%= render 'form' %>
  
  <h2 class="campaign-edit">Add/Edit Key Policy Makers</h2>
    <% @campaign.key_policy_makers.each_with_index do |kpm, i| %>
    <%= render 'key_form', :kpm => kpm, :index => i %>
    <% end %>
  <p class="add-policy-maker-prompt">Need to add a policy maker to the list? Click <span id="policy-maker-form-show">here</span>.</p>
  <%= render 'policy_maker_form' %>

  <h2 class="campaign-edit">Add/Edit Benefitting Vehicles</h2>
  <% @campaign.beneficiaries.each_with_index do |b,i| %>
    <%= render 'beneficiary_form', :beneficiary => b, :index => i%>
  <% end %>
  <p class="add-policy-maker-prompt">Need to add a contribution vehicle to the list? Click <span id="vehicle-form-show">here</span>.</p>
  <%= render 'vehicle_form' %>  
  
  <h2 class="campaign-edit">Add/Edit News and Updates</h2>
  <% @campaign.updates.each_with_index do |u,i| %>
    <%= render 'updates_form', :update => u, :index => i %>
  <% end %>
</div>