<h1 id="campaigns-index">Active Campaigns</h1>
<% if user_signed_in? and can? :update, @campaign %>
<%= link_to "Create Campaign", new_campaign_path %>
<% end %>
<ul id="campaign-list">
  <% @campaigns.each do |campaign| %>
  <li class="campaign">
    <%= link_to campaign.title, campaign_path(campaign), :class => "campaign-title"%>
    <p class="campaign-description">
      <%= truncate(campaign.description, :length => 400) %>
    </p>
    <%= link_to campaign_path campaign do %>
    <div class="campaign-image-wrapper-outer">
      <div class="campaign-image-wrapper-inner">
        <%= image_tag campaign.main_image, :class => "campaign-index-image" %>
        <%= image_tag "campaign_ribbon.png", :class => "campaign-ribbon" %>
        <h3 class="campaign-pledge-ribbon-amount"><%= number_to_currency(campaign.total_pledged) %> pledged so far</h3>
      </div>
    </div>
    <% end %>
  </li>
  <% end %>
</ul>



























<%
=begin%>

<h1>Listing campaigns</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.title %></td>
    <td><%= link_to 'Show', campaign %></td>
    <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
    <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path %>

<%
=end
%>