<!DOCTYPE html>
<html>
<head>
  <title>Politibuy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header-blue" class="header-bar"></div>
  <div id="header-red-top" class="header-bar"></div>
  <div id="header-red-bottom" class="header-bar"></div>
  <div id="all-content-outer">
    <div id="header">
      <%= image_tag "politibuy.png", :id => "main-logo" %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
