<!DOCTYPE html>
<html>
<head>
  <title>Politibuy - Buy political outcomes</title>
  <meta property="og:title" content="Politibuy - Buy political outcomes" />
  <meta property="og:url" content="http://www.politibuy.org" />
  <meta property="og:image" content="http://www.politibuy.org/assets/politibuy_small.jpg"/>
  <meta property="og:description" content="Money gets your voice heard in Washington. What would you pay to see government get something done?" />
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <% if @new_pledge %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <script>
    var politibuyPaymentNeeded = true;
  </script>
  <% else%>
  <script>
    var politibuyPaymentNeeded = false;
  </script>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35202970-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="all-content-outer">
    <div id="all-content-inner">
      <div id="header">
        <%= link_to((image_tag "politibuy.png", :id => "main-logo"), root_path) %>

<%
=begin%>
        <div id="login-links">
          <%= link_to "Browse Campaigns", campaigns_path, :class => "header-links" %>
          <span class="divider-star"><%= image_tag "small_star.png"%></span>
          <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "header-links "%>
          <% else %>
          <%= link_to "Sign In", new_user_session_path, :class => "header-links" %>
          <span class="divider-star"><%= image_tag "small_star.png"%></span>
          <%= link_to "Register", new_user_registration_path, :class => "header-links" %>
          <% end %>
        </div>
<%
=end
%>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
    <div id="footer-outer">
      <div id="footer-inner">
        <div id="footer-social-media-buttons">
          <div id="footer-tweet">
            <a class="twitter-share-button" data-count="horizontal" data-text="I joined the revolution!" data-url="http://www.politibuy.org/" data-via="politibuy" data-related="lessig" href="https://twitter.com/share"></a>
          </div>
          <div id="fb-like-footer" class="fb-like" data-href="http://www.politibuy.org/" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90"></div><br/>
          <div id="gplus-footer" class="g-plusone" data-annotation="inline" data-href="http://www.politibuy.org/" data-size="medium" data-width="120"></div>
        </div>
        <div id="footer-legal-disclaimers">
          <p id="copyright">Copyright © 2012 Politibuy LLC</p>
          <p id="affiliation">Paid for by Politibuy. Not authorized by any candidate or candidate's committee.</p>
        </div>
<%
=begin%>        
        <div id="footer-links">
          <span class="divider-star"><%= image_tag "small_star.png"%></span>
          <%= link_to "About", "", :class => "footer-link", :id => "footer-about-link" %>
          <span class="divider-star"><%= image_tag "small_star.png"%></span>
          <%= link_to "Blog", "", :class => "footer-link", :id => "footer-blog-link" %>
          <span class="divider-star"><%= image_tag "small_star.png"%></span>
          <%= link_to "FAQ", "", :class => "footer-link", :id => "footer-faq-link" %>
          <span class="divider-star"><%= image_tag "small_star.png"%></span>
          <%= link_to "Terms", "", :class => "footer-link", :id => "footer-terms-link" %>
          <span class="divider-star"><%= image_tag "small_star.png"%></span>
          <%= link_to "Share", "", :class => "footer-link", :id => "footer-share-link" %>
          <span class="divider-star"><%= image_tag "small_star.png"%></span>
        </div>
<%
=end
%>        
      </div>
    </div>
  </div>
  <div id="header-blue" class="header-bar"></div>
  <div id="header-red-top" class="header-bar"></div>
  <div id="header-red-bottom" class="header-bar"></div>

<!-- landing page content  -->
  <div id="landing-image-outer">
    <%= image_tag "landing_image.jpg", :id => "landing-image" %>
    <div id="landing-image-text">
      <%= image_tag "intro_text.png", :id => "landing-intro-text" %>
    </div>
  </div>
  <div id="landing-call-to-action-outer">
    <div id="landing-call-to-action-inner">
      
<%
=begin%>
      <div id="landing-call-buttons-wrapper">
        <%= link_to "Browse Campaigns", campaigns_path, :class => "landing-callaction-button", :id => "landing-browse-button" %>
        <%= image_tag "seal.png", :id => "landing-seal" %>
        <%= link_to "Join the Movement", new_user_registration_path, :class => "landing-callaction-button", :id => "landing-signup-button" %>        
      </div>
<%
=end
%>
    </div>
  </div>
  <div id="landing-how-works-outer">
    <div id="landing-how-works-inner">
      <div class="landing-how-step">
        <h4 class="landing-how-step">Pick a Campaign</h4>
        <p class="landing-how-step">From healthcare reform to fairer taxes, choose an issue to let legislators know what's most important to you.</p>
      </div>
      <div class="landing-how-step">
        <h4 class="landing-how-step">Make a Pledge</h4>
        <p class="landing-how-step">Money gets your voice heard in Washington. A large pool of pledges will incent lawmakers to get something done.</p>
      </div>
      <div class="landing-how-step">
        <h4 class="landing-how-step">Watch it Work</h4>
        <p class="landing-how-step">If legislation passes in time, your pledge will go to Super PACs supporting the legislators responsible.  If it fails, you're not out a dime!</p>
      </div>
    </div>
  </div>

<!-- end landing page content -->
</body>
</html>
